<% content_for :title_area do %>
  Original Texts
<% end %>
<div data-controller="content">
  <table class="table">
    <thead>
      <tr>
        <th>Original Text</th>
        <th>Language</th>
        <th>Translations</th>
        <th colspan="4">Originals</th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: "content", collection: @contents %>
    </tbody>
  </table>
  <button class="button"  
      data-action="click->content#addContent">New Original Text
  </button>
  <%= render("modal_new", content: @content) %>
  <%= render("modal_content_form", content: @content, flavor: "edit")  %>
</div>