<% content_for :title_area do %>
  Original Texts
<% end %>
<div>
  <table class="table">
    <thead>
      <tr>
        <th>Original Text</th>
        <th>Language</th>
        <th>Translations</th>
        <th colspan="2">Originals</th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: "content", collection: @contents %>
    </tbody>
  </table>
  <%= link_to "New Original Text Remote", new_content_path, remote: true, class: "button" %>
  <div class="modal-create"></div>
</div>