<% content_for :title_area do %>
  translations
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>Translation</th>
      <th>To lang</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render "translations" %>
  </tbody>
</table>
  <%= render 'form', translation: @translation %>
